.profile__title {
  white-space: nowrap;
  margin-bottom: var(--spaceL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationM);
}

.profile__title--entered {
  opacity: 1;
}

.profile__description {
  margin-bottom: var(--spaceXL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationL);
}

.profile__description--entered {
  opacity: 1;
}

.profile__tag {
  margin-top: 60px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: var(--space4XL) 1fr;
  gap: 12px;
  align-items: center;

  @media (--mediaTablet) {
    & {
      margin-top: 30px;
    }
  }
}

.profile__tag-text {
  font-size: var(--fontSizeBodyS);
  font-weight: var(--fontWeightMedium);
  color: rgb(var(--rgbPrimary));
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationM);
  transition-delay: 1.3s;

  @media (--mediaUseMotion) {
    & {
      transition-property: opacity, transform;
      transform: translate3d(calc(var(--spaceM) * -1), 0, 0);
    }
  }
}

.profile__tag-text--entered {
  transform: none;
  opacity: 1;
}

.profile__image-wrapper {
  position: relative;
  width: 100%;
}

.profile__svg {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate3d(50%, -20%, 0);
  height: 100%;
  z-index: 32;
  opacity: 0;
  transition: opacity var(--durationM) ease var(--durationL);
  fill: var(--colorTextTitle);
}

.profile__svg--entered {
  opacity: 1;
}

.profile__button {
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationL);
}

.profile__button--entered {
  opacity: 1;
}
